/* .homepageHero::before {
    content: "";
    background: linear-gradient(45deg, rgba(119,158,180,.64), hsla(0, 0%, 100%, 0) 100%);
    background-position: 0% 50%;
    position: absolute;
    left: 0;
    bottom: 30px;
    transform: skewY(6deg);
    width: 100%;
    height: 90pt;
    z-index: 2;
} */

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -100;
}