.hero {
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero-blurb {
    font-size: 30px;
    color: #ffffff;
}